/* Fonts */
@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
        url("../fonts/KumbhSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
        url("../fonts/KumbhSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Custom props */
:root {
    --orange-color: #FF7E1B;
    --text-color: #69707D;
    --text-dark: #1D2026;
}

/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: "Kumbh Sans", "Arial", sans-serif;
    line-height: 26px;
    background-color: #f2f2f2;
    color: var(--text-color);
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site header */
.site-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E9F2;
    margin-bottom: 90px;
}

/* Sitenav logo */
.sitenav-logo--wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    text-decoration: none;
    display: inline-block;
    margin-right: 56px;
    padding-top: 41px;
    padding-bottom: 44px;
}

.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 138px;
    height: 20px;
    object-fit: contain;
}

/* Sitenav */
.sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item {
    padding-top: 41px;
    padding-bottom: 44px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    transition: 0.4s;
}

.sitenav__link:hover {
    color: var(--text-dark);
}
.sitenav__link:hover::after {
    position: absolute;
    left: 0;
    top: 65px;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--orange-color);
    content: "";
}

.sitenav__link:active {
    opacity: 0.6;
}

/* Cart profile  */
.cart-profile--wrapper {
    display: flex;
    align-items: center;
}

.cart {
    border: none;
    cursor: pointer;
    margin-right: 46px;
}

.cart__img {
    display: block;
    width: 21px;
    height: 20px;
    object-fit: contain;
}

/* Profile */
.profile {
    display: inline-block;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 50%;
}
.profile:hover {
    border-color: var(--orange-color);
}

.profile__img {
    display: block;
    width: 48px;
    height: 48px;
    object-fit: contain;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding-bottom: 132px;
}

/* Hero */
.hero__container {
    display: flex;
    align-items: center;
    padding-left: 47px;
    padding-right: 47px;
}

.hero__img-showcase {
    width: 100%;
    max-width: 445px;
    margin-right: auto;
}


.img-showcase--big__img {
    display: block;
    width: 445px;
    height: 445px;
    margin-bottom: 32px;
    border-radius: 15px;
    object-fit: cover;
}

/* Img showcase btn wrapper */
.img-showcase__btn--wrapper{
    display: flex;
    align-items: center;
}

.img-showcase__btn {
    width: 84px;
    height: 84px;
    display: inline-block;
    flex-wrap: wrap;
    border: 2px solid transparent;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
}
.img-showcase__btn:not(:last-child) {
    margin-right: 30px;
}

.img-showcase__btn:hover {
    opacity: 0.5;
}

.img-showcase__btn-active {
    border-color: var(--orange-color);
    background-color: rgba(255, 255, 255, 0.75);
}

.img-showcase--btn__img {
    display: block;
    width: 84px;
    height: 84px;
    border-radius: 8px;
    object-fit: cover;
}

/* Hero content */
.hero__content {
    width: 100%;
    max-width: 445px;
}
.hero__content-logo {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--orange-color);
    margin-bottom: 24px;
}
.hero__content-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    color: var(--text-dark);
    margin-bottom: 32px;
}

/* Hero content price */
.hero__content-price--wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 32px;
}
.hero__content-price--box {
    margin-right: 23px;
}

.hero__content-price--new {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: var(--text-dark);
    margin-bottom: 3px;
}

.hero__content-price--old {
    font-weight: 700;
    color: #B6BCC8;
    text-decoration: line-through;
}

/* Sale */
.hero__content-sale {
    font-weight: 700;
    line-height: 20px;
    color: var(--orange-color);
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 11px;
    padding-bottom: 0;
    background-color: #FFEEE2;
}
